<launch>
    <node name="SMORES_Mission_Planner" pkg="smores_ros" type="mission_planner_node.py" output="screen">
        <param name="nbv_service_name" value="nbv_relay" />
        <param name="dock_point_service_name" value="get_target" />
        <param name="pink_obj_topic_name" value="blobPt" />
        <param name="blue_obj_topic_name" value="bluePt" />
        <param name="green_obj_topic_name" value="greenPt" />
        <param name="navigation_action_name" value="move_base" />
        <param name="reconf_signal_topic_name_1" value="Reconfiguration_Controller_1/reconf_signal" />
        <param name="reconf_status_topic_name_1" value="Reconfiguration_Controller_1/reconf_status" />
        <param name="reconf_signal_topic_name_2" value="Reconfiguration_Controller_2/reconf_signal" />
        <param name="reconf_status_topic_name_2" value="Reconfiguration_Controller_2/reconf_status" />
        <param name="set_behavior_service_name" value="set_behavior" />
        <param name="drive_command_topic_name" value="/mobile_base/commands/velocity" />
    </node>
    <node name="NBV_Relay_Node" pkg="smores_ros" type="nbv_relay_node.py" output="screen">
        <param name="nbv_request_topic" value="/nbv_iter" />
        <param name="nbv_result_topic" value="/nbv_pose" />
        <param name="timeout_period" value="600" />
    </node>
</launch>
